<launch>
    <rosparam file="$(find ppgeas)/config/hardware.yaml" command="load"/>
    <rosparam file="$(find ppgeas)/config/controllers.yaml" command="load"/>
    <rosparam file="$(find ppgeas)/config/joint_limits.yaml" command="load"/>
    <node name="rosi_hardware_interface" pkg="ppgeas" type="rosi_hardware_interface_node" output="screen"/>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/"
        args="
            /rosi/controller/state
            /rosi/controller/position/arm_controller
        "/>
</launch>